<h3><%= @book.name %></h3>
<h4> Have I read this book:  <%= @book.read %> </h4>

<%= button_to 'Remove Book', delete_book_path, method: 'delete' %>
<br/>
<h5><%= link_to 'Back to Books', books_path %>